<div class="contenedor-principal">
<div class="contenedor">
    <div class="imagen-principal">
        <img [src] = "pokemon.sprites.other.dream_world.front_default">
    </div>
    <div class="contenedor-uno">
        <h3>{{ pokemon.name }}</h3>
    </div>
</div>

    <div class="experiencia">
        <h3>Experiencia Base</h3>
        <p>{{ pokemon.base_experience}}</p>
    </div>

<div class="habilidades">
    <h3>habilidades</h3>
<div class="lista">
<div *ngFor = "let a of pokemon.abilities" class="contenedor-dos">
        <p>{{ a.ability.name }}</p>
        <p class="hidden">{{ a.is_hidden ? 'Oculto' : 'Visible' }}</p>
        <p class="slot">{{ a.slot }}</p>
</div>
</div>
</div>
<div class="sprites">
    <h3>Sprites</h3>
    <div class="imagenes">
        <img [src] = "pokemon.sprites.front_default" class="imagen-uno">
        <img [src] = "pokemon.sprites.back_default" class="imagen-dos">
    </div>
</div>
        <div class="url">
            <p>Url: {{ pokemon.url }}</p>
        </div>
</div>
